<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supabaseURL</key>
	<string>https://ltjjzamyclmjaavxmyug.supabase.co</string>
	<key>supabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0amp6YW15Y2xtamFhdnhteXVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc4OTUxNTMsImV4cCI6MjA4MzQ3MTE1M30.HX0yFl47XKMdVo5OD5tYuvyCvw5uS4pCutpql1Jmzo0</string>
</dict>
</plist>

